<ion-header>
  <ion-toolbar>
    <div style="display: flex;">
      <ion-icon name="arrow-back-sharp" routerLink="/tab/tab2" style="font-size: 30px;"></ion-icon>
      <ion-title>All Notifications</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button style="float:right" (click)="clear()">clearAll</ion-button>
  <ion-card>
   <div *ngIf="notificationconut !=0">
    <ion-list>
      <ion-item *ngFor="let item of allNotifications">
        <ion-icon slot="start" name="notifications-outline"></ion-icon>
        <ion-label>
          <h2>New message</h2>
          <p> {{ item }} </p>
          <div class="time" text-right>
            {{getTimeStamp()}}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-card>
</ion-content>


 <div *ngIf="notificationconut == 0" class="noitem">

    <h1>No Notifications!</h1>
  
  </div> 